.dash-section{
    width: 75%;
    margin: 0 auto;
    .cat-card{
        width: 25%;
        min-width: 500px;
        display: flex;
        justify-content: space-between;
        &:hover{
            background: #e6e6e6;
            cursor: pointer
        }
    }
}

