.nav{
    position: fixed;
    // right: 0px;
    top: 0px;
    background: #d6d3d3;
    width: 100%;
    z-index: 1;
    #title{
        font-size: 1.4rem;
        margin-left: 13px
    }
}
.nav-items{
    background: #b1aeae;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: fixed;
    right: 0;
    z-index: 0;
    .nav-item{
        text-decoration: none;
        margin: 15px 40px 10px 10px;
        color: #585858;
        font-size: 1.2rem;
        font-weight: 501;
        &:hover{
            color: #222222;
        }
    }
}