.nav{
    position: fixed;
    top: 0px;
    background: #d6d3d3;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #title{
        font-size: 1.4rem;
        margin-left: 13px
    }
    .right-side{
        display: flex;
        align-items: center;
        #username{
            margin-right: 15px;
            font-size: 1.15rem;
            font-weight: 401;
        }
    }
}

.nav-items{
    background: #b1aeae;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: fixed;
    right: 0;
    top: 24px;
    z-index: 0;
    .nav-item{
        text-decoration: none;
        margin: 15px 40px 10px 10px;
        color: #585858;
        font-size: 1.2rem;
        font-weight: 501;
        &:hover{
            color: #222222;
        }
    }
}