.auth-form{
    margin: 6% auto;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 500px;

    input{
        margin: 15px 0;
        height: 30px;
        font-size: 1.13rem;
        border-radius: 5px;
        border: solid 1px grey;
    }
    .remember-check{
        width: 50%;
        min-width: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        #remember{
            cursor: pointer;
            margin-right: 5px
        }
        label{
            cursor: pointer;
            font-size: 1.1rem;
            margin-bottom: 4px;
        }
    }

    .center-load{
        margin: 0 auto
    }
    .auth-submit{
        cursor: pointer;
        font-size: 1.1rem;
        width: 50%;
        min-width: 200px;
        margin: 0 auto;
        height: 40px;
        border-radius: 50px;
        border: none;
        background: #e0e0e0;
        transition: .25s;
        &:hover{
            background: #b8b8b8
        }
    }
}

.auth-err{
    color: red;
}