.goal-card{
    width: 25%;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    &:hover{
        background: #e6e6e6;
        cursor: pointer
    }
}

.back-click{
    display: flex;
    align-items: center;
    .list-header{
        margin: auto 20px;
    }
}